:root {
  --primary-color: rgb(10, 138, 39);
  --primary-color-darker: rgb(9, 118, 35);

  --secundary-color: #f5f5f5;
  --tertiary-color: #1e1e1e;
  --quarternary-color: #e1e1e1;

  --secundary-color-light: #d5d5d5;
}

body {
  margin: 0;
  padding: 0;
}